{% extends "./base.html" %}

<!-- Head -->
{% block head %} {% endblock %}

<!-- Body -->
{% block body %}
<div class="container">
  <ol class="breadcrumb">
    <li><a href="/">首页</a></li>
    <li class="active">ASCII码对照表</li>
  </ol>

  <table class="table table-bordered table-striped no-margin-b t-big-margin">
    <tbody>
      <tr>
        <th class="separateColor">ASCII值</th>
        <th>控制字符</th>
        <th class="separateColor">ASCII值</th>
        <th>控制字符</th>
        <th class="separateColor">ASCII值</th>
        <th>控制字符</th>
        <th class="separateColor">ASCII值</th>
        <th>控制字符</th>
      </tr>
      <tr>
        <td class="separateColor">0</td>
        <td>NUT</td>
        <td class="separateColor">32</td>
        <td>(space)</td>
        <td class="separateColor">64</td>
        <td>@</td>
        <td class="separateColor">96</td>
        <td>、</td>
      </tr>
      <tr>
        <td class="separateColor">1</td>
        <td>SOH</td>
        <td class="separateColor">33</td>
        <td>!</td>
        <td class="separateColor">65</td>
        <td>A</td>
        <td class="separateColor">97</td>
        <td>a</td>
      </tr>
      <tr>
        <td class="separateColor">2</td>
        <td>STX</td>
        <td class="separateColor">34</td>
        <td>"</td>
        <td class="separateColor">66</td>
        <td>B</td>
        <td class="separateColor">98</td>
        <td>b</td>
      </tr>
      <tr>
        <td class="separateColor">3</td>
        <td>ETX</td>
        <td class="separateColor">35</td>
        <td>#</td>
        <td class="separateColor">67</td>
        <td>C</td>
        <td class="separateColor">99</td>
        <td>c</td>
      </tr>
      <tr>
        <td class="separateColor">4</td>
        <td>EOT</td>
        <td class="separateColor">36</td>
        <td>$</td>
        <td class="separateColor">68</td>
        <td>D</td>
        <td class="separateColor">100</td>
        <td>d</td>
      </tr>
      <tr>
        <td class="separateColor">5</td>
        <td>ENQ</td>
        <td class="separateColor">37</td>
        <td>%</td>
        <td class="separateColor">69</td>
        <td>E</td>
        <td class="separateColor">101</td>
        <td>e</td>
      </tr>
      <tr>
        <td class="separateColor">6</td>
        <td>ACK</td>
        <td class="separateColor">38</td>
        <td>&amp;</td>
        <td class="separateColor">70</td>
        <td>F</td>
        <td class="separateColor">102</td>
        <td>f</td>
      </tr>
      <tr>
        <td class="separateColor">7</td>
        <td>BEL</td>
        <td class="separateColor">39</td>
        <td>,</td>
        <td class="separateColor">71</td>
        <td>G</td>
        <td class="separateColor">103</td>
        <td>g</td>
      </tr>
      <tr>
        <td class="separateColor">8</td>
        <td>BS</td>
        <td class="separateColor">40</td>
        <td>(</td>
        <td class="separateColor">72</td>
        <td>H</td>
        <td class="separateColor">104</td>
        <td>h</td>
      </tr>
      <tr>
        <td class="separateColor">9</td>
        <td>HT</td>
        <td class="separateColor">41</td>
        <td>)</td>
        <td class="separateColor">73</td>
        <td>I</td>
        <td class="separateColor">105</td>
        <td>i</td>
      </tr>
      <tr>
        <td class="separateColor">10</td>
        <td>LF</td>
        <td class="separateColor">42</td>
        <td>*</td>
        <td class="separateColor">74</td>
        <td>J</td>
        <td class="separateColor">106</td>
        <td>j</td>
      </tr>
      <tr>
        <td class="separateColor">11</td>
        <td>VT</td>
        <td class="separateColor">43</td>
        <td>+</td>
        <td class="separateColor">75</td>
        <td>K</td>
        <td class="separateColor">107</td>
        <td>k</td>
      </tr>
      <tr>
        <td class="separateColor">12</td>
        <td>FF</td>
        <td class="separateColor">44</td>
        <td>,</td>
        <td class="separateColor">76</td>
        <td>L</td>
        <td class="separateColor">108</td>
        <td>l</td>
      </tr>
      <tr>
        <td class="separateColor">13</td>
        <td>CR</td>
        <td class="separateColor">45</td>
        <td>-</td>
        <td class="separateColor">77</td>
        <td>M</td>
        <td class="separateColor">109</td>
        <td>m</td>
      </tr>
      <tr>
        <td class="separateColor">14</td>
        <td>SO</td>
        <td class="separateColor">46</td>
        <td>.</td>
        <td class="separateColor">78</td>
        <td>N</td>
        <td class="separateColor">110</td>
        <td>n</td>
      </tr>
      <tr>
        <td class="separateColor">15</td>
        <td>SI</td>
        <td class="separateColor">47</td>
        <td>/</td>
        <td class="separateColor">79</td>
        <td>O</td>
        <td class="separateColor">111</td>
        <td>o</td>
      </tr>
      <tr>
        <td class="separateColor">16</td>
        <td>DLE</td>
        <td class="separateColor">48</td>
        <td>0</td>
        <td class="separateColor">80</td>
        <td>P</td>
        <td class="separateColor">112</td>
        <td>p</td>
      </tr>
      <tr>
        <td class="separateColor">17</td>
        <td>DCI</td>
        <td class="separateColor">49</td>
        <td>1</td>
        <td class="separateColor">81</td>
        <td>Q</td>
        <td class="separateColor">113</td>
        <td>q</td>
      </tr>
      <tr>
        <td class="separateColor">18</td>
        <td>DC2</td>
        <td class="separateColor">50</td>
        <td>2</td>
        <td class="separateColor">82</td>
        <td>R</td>
        <td class="separateColor">114</td>
        <td>r</td>
      </tr>
      <tr>
        <td class="separateColor">19</td>
        <td>DC3</td>
        <td class="separateColor">51</td>
        <td>3</td>
        <td class="separateColor">83</td>
        <td>S</td>
        <td class="separateColor">115</td>
        <td>s</td>
      </tr>
      <tr>
        <td class="separateColor">20</td>
        <td>DC4</td>
        <td class="separateColor">52</td>
        <td>4</td>
        <td class="separateColor">84</td>
        <td>T</td>
        <td class="separateColor">116</td>
        <td>t</td>
      </tr>
      <tr>
        <td class="separateColor">21</td>
        <td>NAK</td>
        <td class="separateColor">53</td>
        <td>5</td>
        <td class="separateColor">85</td>
        <td>U</td>
        <td class="separateColor">117</td>
        <td>u</td>
      </tr>
      <tr>
        <td class="separateColor">22</td>
        <td>SYN</td>
        <td class="separateColor">54</td>
        <td>6</td>
        <td class="separateColor">86</td>
        <td>V</td>
        <td class="separateColor">118</td>
        <td>v</td>
      </tr>
      <tr>
        <td class="separateColor">23</td>
        <td>TB</td>
        <td class="separateColor">55</td>
        <td>7</td>
        <td class="separateColor">87</td>
        <td>W</td>
        <td class="separateColor">119</td>
        <td>w</td>
      </tr>
      <tr>
        <td class="separateColor">24</td>
        <td>CAN</td>
        <td class="separateColor">56</td>
        <td>8</td>
        <td class="separateColor">88</td>
        <td>X</td>
        <td class="separateColor">120</td>
        <td>x</td>
      </tr>
      <tr>
        <td class="separateColor">25</td>
        <td>EM</td>
        <td class="separateColor">57</td>
        <td>9</td>
        <td class="separateColor">89</td>
        <td>Y</td>
        <td class="separateColor">121</td>
        <td>y</td>
      </tr>
      <tr>
        <td class="separateColor">26</td>
        <td>SUB</td>
        <td class="separateColor">58</td>
        <td>:</td>
        <td class="separateColor">90</td>
        <td>Z</td>
        <td class="separateColor">122</td>
        <td>z</td>
      </tr>
      <tr>
        <td class="separateColor">27</td>
        <td>ESC</td>
        <td class="separateColor">59</td>
        <td>;</td>
        <td class="separateColor">91</td>
        <td>[</td>
        <td class="separateColor">123</td>
        <td>{</td>
      </tr>
      <tr>
        <td class="separateColor">28</td>
        <td>FS</td>
        <td class="separateColor">60</td>
        <td>&lt;</td>
        <td class="separateColor">92</td>
        <td>/</td>
        <td class="separateColor">124</td>
        <td>|</td>
      </tr>
      <tr>
        <td class="separateColor">29</td>
        <td>GS</td>
        <td class="separateColor">61</td>
        <td>=</td>
        <td class="separateColor">93</td>
        <td>]</td>
        <td class="separateColor">125</td>
        <td>}</td>
      </tr>
      <tr>
        <td class="separateColor">30</td>
        <td>RS</td>
        <td class="separateColor">62</td>
        <td>&gt;</td>
        <td class="separateColor">94</td>
        <td>^</td>
        <td class="separateColor">126</td>
        <td>`</td>
      </tr>
      <tr>
        <td class="separateColor">31</td>
        <td>US</td>
        <td class="separateColor">63</td>
        <td>?</td>
        <td class="separateColor">95</td>
        <td>_</td>
        <td class="separateColor">127</td>
        <td>DEL</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}

<!-- Foot -->
{% block foot %} {% endblock %}
