<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />
    <meta name="author" content="{{ author.name }}<{{ author.email }}>" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="shortcut icon" href="/public/img/favicon.png" />
    <link rel="stylesheet" href="/public/lib/bootstrap/css/theme.min.css" />
    <link rel="stylesheet" href="/public/css/tools.css?v={{ version }}" />
    {% block head %}{% endblock %}
  </head>

  <body>
    <header class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button class="collapsed navbar-toggle" data-target="#kis-navbar" data-toggle="collapse" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">
            <img width="20" src="/public/img/favicon.png" alt="{{ title }}" />
          </a>
        </div>

        <div id="kis-navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">在线工具</a></li>
            <li><a href="/nav.html">网站导航</a></li>
            <li><a href="/cheatsheet.html">速查表</a></li>
            <li><a style="color: orangered" href="/tophub.html">今日热榜</a></li>
            <li><a href="http://poppython.com" target="_blank">博客</a></li>
            <li><a href="/i-need-this.html">申请收录</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="JSON格式化" />
            </div>
            <button type="submit" class="btn btn-default">搜索</button>
          </form>
        </div>
      </div>
    </header>

    <div>
      {% block body %}{% endblock %}
    </div>

    <footer class="well" style="margin: 30px 0 0; border-radius: 0;">
      <div class="container">
        <p>本站已经稳定运行 {{ systemRunning }} 天, 总访问量 {{ totalPV }} 次</p>
        <p>源代码托管在 <a href="{{ repoUrl }}" >Github</a>.</p>
      </div>
    </footer>

    <script src="/public/lib/jquery/jquery-3.5.1.min.js"></script>
    <script src="/public/lib/jquery/jquery.serializejson.min.js"></script>
    <script src="/public/lib/layer/layer.js"></script>
    <script src="/public/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/public/lib/lodash/lodash.min.js"></script>
    {% block foot %}{% endblock %}
  </body>
</html>
