{% extends "./base.html" %}

<!-- Head -->
{% block head %} {% endblock %}

<!-- Body -->
{% block body %}
<div class="container">
  <ol class="breadcrumb">
    <li><a href="/">首页</a></li>
    <li class="active">Base64加密、解密</li>
  </ol>

  <div class="row">
    <div class="col-md-6">
      <textarea id="js_sourceArea" class="form-control" rows="14" placeholder="这里输入明文"></textarea>
      <br />
      <div class="btn-group" role="group">
        <button id="js_encryptBtn" class="btn btn-primary">Base64加密</button>
        <button id="js_decryptBtn" class="btn btn-primary">Base64解密</button>
        <button id="js_clearBtn" class="btn btn-default">清空</button>
      </div>
      <br />
    </div>
    <div class="col-md-6">
      <textarea id="js_outputArea" class="form-control" rows="14" placeholder="这里输入密文"></textarea>
    </div>
  </div>

  <h4>说明:</h4>
  <ol>
    <li>Base64是网络上最常见的用于传输8Bit字节码的编码方式之一；</li>
    <li>本工具基于<a href="https://github.com/dankogai/js-base64">js-base64</a>实现；</li>
    <li>本工具不采集您的任何数据；</li>
  </ol>
</div>
{% endblock %}

<!-- Foot -->
{% block foot %}
<script src="/public/lib/base64/base64.js"></script>
<script>
  $(document).ready(function () {
    var $sourceArea = $("#js_sourceArea");
    var $outputArea = $("#js_outputArea");
    var $encryptBtn = $("#js_encryptBtn");
    var $decryptBtn = $("#js_decryptBtn");
    var $clearBtn = $("#js_clearBtn");

    $encryptBtn.on("click", function () {
      $outputArea.val(Base64.encode($sourceArea.val()));
    });

    $decryptBtn.on("click", function () {
      $outputArea.val(Base64.decode($sourceArea.val()));
    });

    $clearBtn.on("click", function () {
      $sourceArea.val("");
      $outputArea.val("");
    });
  });
</script>
{% endblock %}
