{% extends "./base.html" %}

<!-- Head -->
{% block head %}
<link rel="stylesheet" href="/public/css/github-markdown.css?v={{ version }}" />
<link rel="stylesheet" href="/public/lib/highlight/styles/github.css?v={{ version }}" />
{% endblock %}

<!-- Body -->
{% block body %}
<div class="container">
  <ol class="breadcrumb">
    <li><a href="/">首页</a></li>
    <li><a href="/cheatsheet.html">速查表</a></li>
    <li class="active">{{ sheet.name }}</li>
  </ol>
  <div class="markdown-body">
    <h1>{{ sheet.name }}</h1>
    <p class="text-gray-light">
      <small>上次更新: {{ sheet.updatedAt }}&nbsp;•&nbsp;已使用{{ sheet.used }}次</small>
    </p>
    <blockquote>{{ sheet.desc }}</blockquote>
    {{ sheet.html | safe }}
  </div>
</div>
{% endblock %}

<!-- Foot -->
{% block foot %}
<script src="/public/lib/highlight/highlight.pack.js"></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
{% endblock %}
