{% extends "./base.html" %}

<!-- Body -->
{% block body %}
<div class="container gen-logo-page" id="GenLogoApp">
  <ol class="breadcrumb">
    <li><a href="/">首页</a></li>
    <li class="active">在线制作Logo</li>
  </ol>

  <div class="row">
    <div class="col-md-4">
      <canvas ref="stage" class="stage" :width="option.size" :height="option.size"></canvas>
      <br />

      <div class="clearfix">
        <span style="line-height: 30px;">简单三步, 10秒钟轻松制作!</span>
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-sm btn-primary" @click="draw">生成</button>
          <button type="button" class="btn btn-sm btn-default" @click="setRotate">旋转</button>
          <button type="button" class="btn btn-sm btn-default" @click="exportToImage">下载</button>
        </div>
      </div>
      <br />
    </div>
    <div class="col-md-8 scroll-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">STEP1. 配置背景</div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">背景：</label>
                    <div class="form-control">
                      <label class="radio-inline">
                        <input type="radio" v-model="option.bgType" value="linear" @change="draw" />
                        <span>渐变</span>
                      </label>
                      <label class="radio-inline">
                        <input type="radio" v-model="option.bgType" value="transparent" @change="draw" />
                        <span>透明</span>
                      </label>
                      <label class="radio-inline">
                        <input type="radio" v-model="option.bgType" value="plain" @change="draw" />
                        <span>纯色</span>
                      </label>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">圆角：</label>
                    <div class="form-control">
                      <label class="radio-inline">
                        <input type="radio" v-model="option.shape" value="square" @change="draw" />
                        <span>无</span>
                      </label>
                      <label class="radio-inline">
                        <input type="radio" v-model="option.shape" value="circle" @change="draw" />
                        <span>圆形</span>
                      </label>
                      <label class="radio-inline">
                        <input type="radio" v-model="option.shape" value="round" @change="draw" />
                        <span>圆角</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <template v-if="option.bgType === 'linear'">
                <div class="form-group">
                  <label class="control-label" style="display: block;">
                    <span>渐变类型：</span>
                    <a v-if="showAllColor" href="javascript:;" class="pull-right" @click="toggleShowAllColor">收起</a>
                    <a v-else href="javascript:;" class="pull-right" @click="toggleShowAllColor">展开</a>
                  </label>
                  <div class="form-control-static clearfix">
                    <template
                      v-for="(item, idx) in colors"
                      :key="idx"
                      v-if="showAllColor || (!showAllColor && idx < 45)"
                    >
                      <div
                        class="block-sample"
                        v-if="item.colors.length === 3"
                        :style="'background: linear-gradient(to bottom, ' + item.colors[0] + ', ' + item.colors[1] + ', ' + item.colors[2] + ');'"
                        @click="setLinearColor(item)"
                      ></div>
                      <div
                        class="block-sample"
                        v-if="item.colors.length === 2"
                        :style="'background: linear-gradient(to bottom, ' + item.colors[0] + ', ' + item.colors[1]+ ');'"
                        @click="setLinearColor(item)"
                      ></div>
                    </template>
                  </div>
                </div>
              </template>

              <template v-if="option.bgType === 'plain'">
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="control-label">背景色：</label>
                      <div class="form-control-static">
                        <input type="color" class="form-control" v-model="option.background" @input="draw" />
                      </div>
                    </div>
                  </div>
                </div>
              </template>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">STEP2. 配置图标</div>
            <div class="panel-body">
              <div class="form-group">
                <label class="control-label">类型：</label>
                <div class="form-control">
                  <label class="radio-inline">
                    <input type="radio" name="logoType" v-model="option.logoType" value="svg" @change="draw" />
                    <span>图标</span>
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="logoType" v-model="option.logoType" value="text" @change="draw" />
                    <span>文字</span>
                  </label>
                </div>
              </div>

              <template v-if="option.logoType === 'text'">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="control-label">文字：</label>
                      <input type="text" class="form-control" v-model="option.text" @input="draw" />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="control-label">颜色：</label>
                      <input type="color" class="form-control" v-model="option.fontColor" @input="draw" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="control-label">字体：</label>
                      <select class="form-control" v-model="option.fontFamily" @change="draw">
                        <option v-for="(font, idx) in fontFamilies" :key="idx" :value="font" v-html="font"></option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="control-label">字号：</label>
                      <input type="number" class="form-control" v-model="option.fontSize" @input="draw" />
                    </div>
                  </div>
                </div>
              </template>

              <template v-if="option.logoType === 'svg'">
                <div class="form-group">
                  <label class="control-label" style="display: block;">
                    <span>图标：</span>
                    <span class="pull-right a" @click="showLibModal">
                      图标库
                    </span>
                  </label>
                  <div class="form-control-static clearfix">
                    <div
                      class="block-sample"
                      v-for="(val, idx) in icons"
                      :key="idx"
                      @click="setSvg(val)"
                      v-html="val"
                    ></div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="control-label">边框色：</label>
                      <input type="color" class="form-control" v-model="option.stokeColor" @input="draw" />
                    </div>
                  </div>
                </div>
              </template>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">STEP3. 徽章</div>
            <div class="panel-body">
              <div class="form-group">
                <label class="control-label">展示徽章：</label>
                <div class="form-control">
                  <label class="radio-inline">
                    <input type="radio" v-model="option.showBadge" :value="true" @change="draw" />
                    <span>是</span>
                  </label>
                  <label class="radio-inline">
                    <input type="radio" v-model="option.showBadge" :value="false" @change="draw" />
                    <span>否</span>
                  </label>
                </div>
              </div>

              <template v-if="option.showBadge">
                <div class="row">
                  <div class="col-xs-6">
                    <div class="form-group">
                      <label class="control-label">文字：</label>
                      <input type="text" class="form-control" v-model="option.badgeText" @input="draw" />
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="form-group">
                      <label class="control-label">字号：</label>
                      <input type="number" class="form-control" v-model="option.badgeSize" @input="draw" />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-6">
                    <div class="form-group">
                      <label class="control-label">背景色：</label>
                      <input type="color" class="form-control" v-model="option.badgeBackground" @input="draw" />
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="form-group">
                      <label class="control-label">文字颜色：</label>
                      <input type="color" class="form-control" v-model="option.badgeColor" @input="draw" />
                    </div>
                  </div>
                </div>
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <template v-if="iconLibModal">
    <div class="modal-backdrop fade in"></div>
    <div class="modal fade in" role="dialog" tabindex="-1">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" @click="onLibModalCancel">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">图标库</h4>
          </div>
          <div class="modal-body">
            <ul id="js_iconTab" class="nav nav-tabs" role="tablist">
              <li :class="{ active: activeTab === 'cssGG' }">
                <a href="javascript:;" @click="setActiveTab('cssGG')">css.gg</a>
              </li>
              <li :class="{ active: activeTab === 'feather' }">
                <a href="javascript:;" @click="setActiveTab('feather')">Feather</a>
              </li>
              <li :class="{ active: activeTab === 'custom' }">
                <a href="javascript:;" @click="setActiveTab('custom')">自定义</a>
              </li>
            </ul>
            <div class="tab-content" style="max-height: 500px; overflow-y: scroll;">
              <br />
              <div v-if="activeTab === 'cssGG'" class="tab-pane active">
                <div
                  v-for="(val, idx) in iconLib['css-gg']"
                  :key="idx"
                  :class="{ 'block-sample': true, active: val === activeIcon}"
                  @click="chooseIconLib(val)"
                  v-html="val"
                ></div>
              </div>
              <div v-if="activeTab === 'feather'" class="tab-pane active">
                <div
                  v-for="(val, idx) in iconLib['feather']"
                  :key="idx"
                  :class="{ 'block-sample': true, active: val === activeIcon}"
                  @click="chooseIconLib(val)"
                  v-html="val"
                ></div>
              </div>
              <div v-if="activeTab === 'custom'" class="tab-pane active">
                <textarea class="form-control" rows="8" v-model="customSvg" placeholder="请输入SVG"></textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" @click="onLibModalCancel">取消</button>
            <button type="button" class="btn btn-primary" @click="onLibModalOk">确定</button>
          </div>
        </div>
      </div>
    </div>
  </template>
</div>
{% endblock %}

<!-- Foot -->
{% block foot %}
<script src="/public/lib/vue/vue.min.js?v={{ version }}"></script>
<script src="/public/js/gen-logo.js?v={{ version }}"></script>
{% endblock %}
