{% extends "./base.html" %}

<!-- Head -->
{% block head %} {% endblock %}

<!-- Body -->
{% block body %}
<div class="container">
  <h2 class="page-header">所有工具</h2>
  <div class="row">
    {% for tool in doneTools %}
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <a href="/tool/{{ tool.code }}.html">{{ tool.name }}</a>
        </div>
        <div class="panel-body">{{ tool.desc }}</div>
        <div class="panel-footer">
          <span>已使用{{ tool.used }}次</span>
          <a class="pull-right" href="/tool/{{ tool.code }}.html" target="_blank">进入</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <h2 class="page-header">开发中&nbsp;<small><a href="/i-need-this.html">申请收录</a></small></h2>
  <div class="row">
    {% for tool in workingTools %}
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="panel panel-default">
        <div class="panel-heading">{{ tool.name }}</div>
        <div class="panel-body">{{ tool.desc }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

<!-- Foot -->
{% block foot %} {% endblock %}
