{% extends "./base.html" %}

<!-- Head -->
{% block head %}
<style>
  .ascii-area {
    font-family: monospace;
    line-height: 1.2;
    width: 515px;
  }
</style>
{% endblock %}

<!-- Body -->
{% block body %}
<div class="container page">
  <ol class="breadcrumb">
    <li><a href="/">首页</a></li>
    <li class="active">图片转字符画</li>
  </ol>

  <h4>说明:</h4>
  <p>1. 本工具基于 <a href="https://github.com/IonicaBizau/image-to-ascii" target="_blank">image-to-ascii</a> 实现；</p>
  <p>2. 本工具不采集您的任何数据；</p>

  <form id="js_fileUpload" action="/api/img2ascii/upload">
    <div id="js_dropZone" class="dropzone">
      <p>
        <i class="glyphicon glyphicon-cloud-upload"></i>
      </p>
      <p>点击上传图片, 或将图片拖拽到此处!</p>
      <p><small>支持 jpg, png 等格式的图片.</small></p>
      <input type="file" name="files[]" multiple class="upload-input" />
    </div>
  </form>

  <br />
  <div id="js_result" style="display: none;">
    <p>解析结果:</p>
    <div id="js_output" class="ascii-area"></div>
  </div>
</div>
{% endblock %}

<!-- Foot -->
{% block foot %}
<script src="/public/lib/uuid/uuidv4.min.js"></script>
<script src="/public/lib/jquery-file-upload/vendor/jquery.ui.widget.js"></script>
<script src="/public/lib/jquery-file-upload/jquery.fileupload.js"></script>
<script>
  $(document).ready(function () {
    var $uploadInput = $("#js_fileUpload");

    $uploadInput.fileupload({
      url: "/api/img2ascii/upload",
      dropZone: $("#js_dropZone"),
      dataType: "json",
      maxNumberOfFiles: 100, // 100 个
      maxFileSize: 10000000, // 10 Mb
      acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
      add: function (e, data) {
        layer.load();
        $("#js_result").hide();
        data.submit();
      },
      done: function (e, data) {
        layer.closeAll("loading");
        var res = data.result;
        if (res.success) {
          $("#js_output").html(res.data);
          $("#js_result").show();
        } else {
          layer.msg(res.message, { icon: 5 });
        }
      },
    });
  });
</script>
{% endblock %}
