{% extends "./base.html" %}

<!-- Head -->
{% block head %}
<link rel="stylesheet" href="/public/lib/toastui-editor/codemirror.min.css" />
<link rel="stylesheet" href="/public/lib/toastui-editor/toastui-editor.min.css" />
<link rel="stylesheet" href="/public/css/github-markdown.css" />
<style>
  .editor-wrapper {
    border: 1px solid #ededed;
    border-radius: 5px;
    min-height: 500px;
  }
  .preview-wrapper {
    border: 1px solid #ededed;
    border-radius: 5px;
    min-height: 500px;
    padding: 10px;
  }
</style>
{% endblock %}

<!-- Body -->
{% block body %}
<div class="container">
  <ol class="breadcrumb">
    <li><a href="/">首页</a></li>
    <li class="active">Markdown 转 HTML</li>
  </ol>

  <div id="js_mdEditor" style="height: 500px;"></div>

  <h2>工具说明:</h2>
  <ol>
    <li>Markdown 是一种轻量级标记语言，它允许人们使用易读易写的纯文本格式编写文档；</li>
    <li>
      Markdown使用说明可以参考
      <a href="https://www.runoob.com/markdown/md-tutorial.html" >Markdown 教程</a> 或者
      <a href="https://www.markdownguide.org/" >Markdown Guide</a>；
    </li>
    <li>本工具基于<a href="https://ui.toast.com/tui-editor/" >toastui-editor</a>实现；</li>
    <li>本工具不采集您的任何数据；</li>
  </ol>
</div>
{% endblock %}

<!-- Foot -->
{% block foot %}
<script src="/public/lib/toastui-editor/toastui-editor-all.min.js"></script>
<script>
  $(document).ready(function () {
    var editor = new toastui.Editor({
      el: document.querySelector("#js_mdEditor"),
      previewStyle: "tab",
      height: "500px",
      initialValue: "",
      hideModeSwitch: true,
    });
  });
</script>
{% endblock %}
