{% extends "./base.html" %}

<!-- Head -->
{% block head %}
<style>
  .progress {
    margin-bottom: 0;
  }

  .dropzone {
    position: relative;
    width: 80%;
    margin: 0 auto;
    height: 180px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
    padding-top: 30px;
  }

  .dropzone i {
    font-size: 50px;
  }

  .dropzone .upload-input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    height: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
  }

  .download-link {
    text-decoration: underline;
    display: inline-block;
    width: 70px;
  }
</style>
{% endblock %}

<!-- Body -->
{% block body %}
<div class="container page">
  <ol class="breadcrumb">
    <li><a href="/">首页</a></li>
    <li class="active">图片压缩</li>
  </ol>

  <form id="js_fileUpload" action="/api/minImage/upload">
    <div id="js_dropZone" class="dropzone">
      <p>
        <i class="glyphicon glyphicon-cloud-upload"></i>
      </p>
      <p>点击上传, 或将文件拖拽到此处!</p>
      <p><small>单个文件最大10M.</small></p>
      <input type="file" name="files[]" multiple class="upload-input" />
    </div>
  </form>

  <br />
  <br />

  <div id="js_previewTable" style="display: none;">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>文件</th>
          <th>原始大小</th>
          <th style="width: 150px;">进度</th>
          <th>压缩后</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>

    <div class="text-center">
      <button id="js_downloadAll" class="btn btn-primary">下载全部</button>
    </div>
  </div>
</div>
{% endblock %}

<!-- Foot -->
{% block foot %}
<script src="/public/lib/uuid/uuidv4.min.js"></script>
<script src="/public/lib/jquery-file-upload/vendor/jquery.ui.widget.js"></script>
<script src="/public/lib/jquery-file-upload/jquery.fileupload.js"></script>
<script>
  $(document).ready(function () {
    var $uploadInput = $("#js_fileUpload");
    var $previewTable = $("#js_previewTable");
    var uploadedFiles = [];

    function bytesToSize(bytes) {
      if (!bytes) return "";
      var sizes = ["Bytes", "KB", "MB", "GB", "TB"];
      if (bytes === 0) return "0 Byte";
      var i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
      return Math.round(bytes / Math.pow(1024, i), 2) + " " + sizes[i];
    }

    function savedPercent(originSize, minedSize) {
      var percent = (originSize - minedSize) / originSize;
      return Math.floor(percent * 100) + "%";
    }

    function refreshUploadedFiles() {
      var trEls = [];
      for (var i = 0; i < uploadedFiles.length; i++) {
        var file = uploadedFiles[i];
        var thEls = [];
        thEls.push("<th>" + file.name + "</th>");
        thEls.push("<th>" + bytesToSize(file.size) + "</th>");
        // prettier-ignore
        thEls.push(
          "<th>" +
          '   <div class="progress">' +
          '     <div class="progress-bar progress-bar-success" style="width: ' + file.progress + '%"></div>' +
          "   </div>" +
          "</th>"
        );

        if (file.done) {
          // prettier-ignore
          thEls.push(
            "<th>" +
            '   <a class="download-link" title="点击下载" href="' + file.url + '" download>' + bytesToSize(file.minedSize) + '</a>' +
            '   <span class="text-success">节省: ' + savedPercent(file.size, file.minedSize) + "</span>" +
            "</th>"
          );
        } else {
          thEls.push("<th>处理中...</th>");
        }

        trEls.push("<tr id='" + file.uuid + "'>" + thEls.join("") + "</tr>");
      }
      $previewTable.find("tbody").html(trEls.join(""));
      if (uploadedFiles.length) {
        $previewTable.show();
      } else {
        $previewTable.hide();
      }
    }

    $uploadInput.fileupload({
      url: "/api/minImage/upload?folder={{ folder }}",
      dropZone: $("#js_dropZone"),
      dataType: "json",
      maxNumberOfFiles: 100, // 100 个
      maxFileSize: 10000000, // 10 Mb
      acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
      add: function (e, data) {
        var uuid = uuidv4();
        var file = data.files[0];
        file.uuid = uuid;
        uploadedFiles.push(file);
        refreshUploadedFiles();
        data.submit();
      },
      progress: function (e, data) {
        var progress = parseInt((data.loaded / data.total) * 100, 10);
        var file = data.files[0];
        uploadedFiles = _.map(uploadedFiles, function (item) {
          if (item.uuid === file.uuid) {
            item.progress = progress;
          }
          return item;
        });
        refreshUploadedFiles();
      },
      done: function (e, data) {
        var file = data.files[0];
        var res = data.result;
        if (res.success) {
          uploadedFiles = _.map(uploadedFiles, function (item) {
            if (item.uuid === file.uuid) {
              item.minedSize = res.data.size;
              item.url = res.data.url;
              item.done = true;
            }
            return item;
          });
          refreshUploadedFiles();
        }
      },
    });

    $("#js_clearBtn").on("click", function () {
      uploadedFiles = [];
      refreshUploadedFiles();
    });

    $("#js_downloadAll").on("click", function () {
      $.ajax({
        type: "GET",
        url: "/api/minImage/downloadZip?folder={{ folder }}",
        success: function (res) {
          if (res.success) {
            window.open(res.data);
          } else {
            layer.msg(res.message, { icon: 5 });
          }
        },
      });
    });
  });
</script>
{% endblock %}
