{% extends "./base.html" %}

<!-- Head -->
{% block head %}
<style>
  .lang-color {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #ccc;
    margin-right: 5px;
  }

  .trending-filter {
    display: inline-block;
    width: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-transform: capitalize;
  }
</style>
{% endblock %}

<!-- Body -->
{% block body %}
<div class="container">
  <ol class="breadcrumb">
    <li><a href="/">首页</a></li>
    <li class="active">Github Trending</li>
  </ol>

  <select id="js_dateSelect" class="form-control trending-filter">
    {% for item in dateList %}
    <option value="{{ item }}" {% if item == date %} selected="selected" {% endif %}>{{ item }}</option>
    {% endfor %}
  </select>
  <select id="js_langSelect" class="form-control trending-filter">
    {% for item in langs %}
    <option value="{{ item.urlParam }}" {% if item.urlParam == lang %} selected="selected" {% endif %}>{{ item.name }}</option>
    {% endfor %}
  </select>
  <select id="js_sinceSelect" class="form-control trending-filter">
    {% for item in sinces %}
    <option value="{{ item }}" {% if item == since %} selected="selected" {% endif %}>{{ item }}</option>
    {% endfor %}
  </select>

  {% for repo in repos %}
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">{{ repo.humanLanguage or 'All Language' }}</div>
        <div class="panel-body">
          {% for item in repo.json %}
          <div class="media">
            <div class="media-body">
              <h4 class="media-heading">
                <span>{{ loop.index }}.&nbsp;</span>
                <a href="{{ item.url }}" target="_blank">{{ item.author }}/{{ item.name }}</a>
                <button class="btn btn-sm btn-default pull-right">Star</button>
              </h4>
              <p>{{ item.description }}</p>
              <p>
                <span class="lang-color" style="background: {{ item.languageColor }};"></span>
                <span>{{ item.language or 'Unknown' }}</span>
                <span>&nbsp;•&nbsp;</span>
                <span>Stars: {{ item.stars }}</span>
                <span>&nbsp;•&nbsp;</span>
                <span>Forks: {{ item.forks }}</span>

                <span class="pull-right">stars today: {{ item.currentPeriodStars }}</span>
              </p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}

<!-- Foot -->
{% block foot %}
<script>
  $(document).ready(function () {
    $("#js_dateSelect, #js_langSelect, #js_sinceSelect").on('change', function() {
      // prettier-ignore
      window.location.href =
              window.location.origin +
              window.location.pathname +
              "?date=" + $("#js_dateSelect").val() +
              "&lang=" + $("#js_langSelect").val() +
              "&since=" + $("#js_sinceSelect").val();
    })
  });
</script>
{% endblock %}
