.login-page {
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-page .login__form {
  width: 375px;
  height: 520px;
  background: #fff;
  border-radius: 2px;
  padding: 50px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
.login-page .login__form__captcha {
  height: 34px;
  overflow: hidden;
}
